@import "../Styles/colors.scss";

.sidebar {
    width: 4.25rem !important;
    background-color: $items-color-highlight !important;
    height: 82vh;
    position: absolute;
    left: calc(100vw - 4.6rem);
    top: 0;
    transition: ease 0.3s;
    margin: 8vh 12px 0 0;
    border-radius: 10px;
    z-index:3000;
    .sidebar-item {
        width: 3.4rem;
        height: 3.4rem;
        background-color: $items-color;
        border-radius: 10%;
        margin-top: 0.35rem;
        transition: ease 0.3s;

        &:hover {
            background-color: $items-color-hover;
        }

        svg {
            font-size: 2rem;
        }
    }
    .last-item{
        margin-top:auto;
        margin-bottom: 0.35rem;
    }

    .sidebar-item-borderless {
        width: 3.4rem;
        height: 3.4rem;
        border-radius: 10%;
        margin-bottom: 0.35rem;
        transition: ease 0.3s;

        &:hover {
            background-color: $items-color-hover;
        }

        svg {
            font-size: 2rem;
        }

        .sidebar-logo {
            width: 2.25rem;
            height: 2.25rem;
            object-fit: contain;
            filter: invert(1);
        }
    }
}

.modal-cover{
    position:fixed;
    left:0;
    top:0;
    background-color: $item-background-translucid;
    width:100vw;
    height:100vh;
    z-index: 2000;
    transition: ease 0.1s;
}