@import "../Styles/colors.scss";

.sidebar-tv {
    min-width: 4.5vw;
    width: auto;
    height: 100%;
    overflow: hidden;
    transition: ease 0.3s;
    margin: 0;
    padding-top: 4px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(40, 44, 52, 1));

    .sidebar-item {
        min-width: 4.5vw;
        width: auto;
        height: 2.6rem;
        margin-bottom: 0.2rem;
        transition: ease 0.3s;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(40, 44, 52, 1));

        &:hover {
            background-color: $items-color-hover;
        }

        svg {
            font-size: 1.55rem;
        }

        .item-text {
            transition: 2s;
            display: none;
        }
    }

    .sidebar-item-focused {
        background-color: $items-color-hover !important;
    }

    .sidebar-item-borderless {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 10%;
        margin-bottom: 0.2rem;
        transition: ease 0.3s;

        &:hover {
            background-color: $items-color-hover;
        }

        svg {
            font-size: 1.55rem;
        }
    }
}

.sidebar-tv-focused {
    min-width: 10vw;
    width: auto;
    height: 100%;
    overflow: hidden;
    transition: ease 0.3s;
    margin: 0;
    padding-top: 4px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(40, 44, 52, 1));

    .sidebar-item {
        min-width: 10vw;
        width: auto;
        height: 2.6rem;
        margin-bottom: 0.2rem;
        transition: ease 0.3s;
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(40, 44, 52, 1));

        &:hover {
            background-color: $items-color-hover;
        }

        svg {
            font-size: 1.55rem;
        }

        .item-text {
            transition: 2s;
            margin-left: 8px;
            font-size: 0.95rem;
        }
    }

    .sidebar-item-focused {
        background-color: $items-color-hover !important;
    }

    .sidebar-item-borderless {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 10%;
        margin-bottom: 0.2rem;
        transition: ease 0.3s;

        &:hover {
            background-color: $items-color-hover;
        }

        svg {
            font-size: 1.55rem;
        }
    }
}

.modal-cover {
    position: fixed;
    left: 0;
    top: 0;
    background-color: $item-background-translucid;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    transition: ease 0.1s;
}
